#persons {
  width: 80%;
  margin: 3vh auto;
  max-width: 1800px;
}
#persons h2 {
  font-size: 36px;
  flex-grow: 1;
}

#persons-add-user {
  margin-right: 2vw;
  background-color: #ffd800;
}

#persons-delete-button {
  margin-right: 2vw;
  background-color: #ff6c6c;
}

#persons-accept-button,
#table-search-reservations-button {
  background-color: #ffd800;
}

#persons-header-container {
  align-items: center;
}

#persons-table-container {
  max-height: 50vh;
  overflow: auto;
}

#persons-table {
  width: 100%;
  border-collapse: collapse;
}

#persons-table tbody {
  width: 100%;
}

#persons-table thead tr {
  /* display: block; */
  width: 100%;
}

#persons-table thead {
}

.table-cell {
}

.table-cell-customers {
}

.table-cell-employees {
}

td {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#persons-table th {
  background-color: #e7e7e7;
  padding: 16px 8px;
  text-align: left;
  border: none;
}
.persons-table-1-column {
}
.persons-table-2-column {
}

#persons-table td {
  padding: 8px;
  text-align: left;
}
#persons-table tr:hover {
  background-color: #999966;
  cursor: pointer;
}

#persons-delete-button-container {
  width: 100%;
  justify-content: flex-end;
  margin-top: 4vh;
}
.table-check {
  width: 20px;
}

.table-input {
  border: none;
  margin: 10px 0;
  height: 40px;
  width: 200px;
  border-bottom: 1px solid black;
  margin-right: 30px;
}

#search-reservation-container {
  margin-top: 20px;
}

#search-reservation-container h3 {
  font-size: 30px;
}
