.persons {
  width: 80%;
  margin: 3vh auto;
  max-width: 1800px;
}
.persons h2 {
  font-size: 36px;
  flex-grow: 1;
}

.persons-add-user {
  margin-right: 2vw;
}

.persons-delete-button {
  margin-right: 2vw;
}

.persons-header-container {
  align-items: center;
}

.table-check {
  width: 20px;
}

.table-input {
  border: none;
  margin: 10px 0;
  height: 40px;
  width: 200px;
  border-bottom: 1px solid black;
  margin-right: 30px;
}
