.parking-spots {
  width: 80%;
  margin: 3vh auto;
  max-width: 1800px;
}
.parking-spots h2 {
  font-size: 36px;
  flex-grow: 1;
}

.parking-spots-add-user {
  margin-right: 2vw;
}

.parking-spots-delete-button {
  margin-right: 2vw;
  background-color: var(--red-primary);
}

.parking-spots-header-container {
  align-items: center;
}

.table-check {
  width: 20px;
}

.table-input {
  border: none;
  margin: 10px 0;
  height: 40px;
  width: 200px;
  border-bottom: 1px solid black;
  margin-right: 30px;
}

.search-reservation-container {
  margin-top: 20px;
}

.search-reservation-container h3 {
  font-size: 30px;
}
.table-button {
  font-size: 17px;
  height: 32px;
  width: 160px;
  margin-right: 1vw;
}

.parking-spots-table .change-owner-column {
  width: 160px;
}

.textRight {
  text-align: right !important;
}
