#search-reservation-container {
  max-width: 1000px;
  margin: 20px auto;
  width: 85vw;
}
.search-reservations-input-container {
  align-items: flex-end;
  margin-bottom: 30px;
}


#date-picker-start-day, #date-picker-end-day {
  width: 15vw;
  margin-right: 3vw;
}

#reservations-person-drop-down {
  width: 20vw;
  margin-right: 2vw;
}

.reservations-select {
  width: 20vw;
  max-width: 300px;
}

#reservation-delete-button {
  background-color: #ff6c6c;
  margin-left: auto;
}

#reservations-table {
  width: 100%;
  border-collapse: collapse;
}

#reservations-table tbody {
  width: 100%;
}

#reservations-table thead tr {
  width: 100%;
}

#reservations-table th {
  background-color: #e7e7e7;
  padding: 16px 8px;
  text-align: left;
  border: none;
}

#reservations-table td {
  padding: 8px;
  text-align: left;
}

#reservations-table tbody tr:hover {
  background-color: #999966;
}