#header {
    width: 100%;
    height: 10vh;
    min-height: 80px;
    max-height: 100px;
    background-color: #000000;
}

#header-tab-container {
    justify-content: space-around;
    flex-grow: 1;
    padding-top: 3vh;
}

#header-user-container {
    margin-right: 3vw;
    margin-left: 2vw;
    padding-top: 2vh;
    align-items: flex-end;
}
.tab-container {
    width: 20vw;
    max-width: 180px;
    
}

#header-tab-container hr {
    border: 4px solid #ffd800;
    width: 100%;
    margin: 0;
}
#header-user-container span {
    color: white;
}


.header-link {
    color: white;
    text-decoration: none;
    font-size: 22px;
    flex-grow: 1;
}