#person {
  width: 70%;
  /* background-color:#EEEDE5; */
  margin: 8vh auto;
  padding-bottom: 4vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.person-button {
  background-color: #ffd800;
  font-size: 16px;
  height: 35px;
}

#person-delete-button {
  background-color: #FF6C6C;
  transform: translateY(-50px);
  margin-right: 3vw;
  height: 35px;
}

#person-header-container {
  justify-content: flex-start;
  width: 100%;
}

#person-delete-button-container {
  justify-content: flex-end;
  width: 100%;
}

#person-button-contaier {
  justify-content: space-around;
  width: 80%;
  margin-top: 10vh;
}

#person-history-container {
  width: 23%;
  /* background-color: #e7e7e7; */
  /* background-color: #E7E6DB; */
  border-radius: 30px;
  margin-right: 10%;
}
#person-history-list-container {
  /* background-color: #e7e7e7; */
  width: 70%;
 
}

#person-info-container {
  width: 23%;
  padding-left: 3vw;
  /* background-color: #e7e7e7; */
  /* background-color: #E7E6DB; */
  margin-right: 10%;
  border-radius: 30px;
}

.person-table {
  width:100% ;
  margin-top: 2vh;
  border-collapse: collapse;
  margin-bottom: 2vh;
}

#person-future-reservation-container {
  width: 33%;
  /* background-color: #e7e7e7; */
  /* background-color: #E7E6DB; */
  border-radius: 30px;
}

#person-info-container div {
  margin-top: 2vh;
}

.person-check {
  width: 18px;
}

.person-table th {
  background-color: #ffca28;
  padding: 15px 0; 
}

.person-table td {
  padding: 4px 0; 
}

#person-free-selected-spots-button {
  margin-left: auto;
}

.person-table tr:nth-child(even){background-color: #e7e7e7;}
.person-table tr:nth-child(odd){background-color: white;}