body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-row {
  display: flex;
}
.flex-row-center {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.button {
  font-size: 22px;
  width: 200px;
  height: 50px;
  border: none;
  color: black;
  border-radius: 30px;
}

.button:hover {
  cursor: pointer;
}

*:focus{
   outline: none;
}

.table-container {
  max-height: 50vh;
  overflow: auto;
}

input[type=text], input[type=password], input[type=email] {
  font-size: 16px;
}

.align-left-button-container {
  margin: 24px 0px;
}

.align-right-button-container {
  width: 100%;
  justify-content: flex-end;
  margin-top: 24px;
}
