:root {
  --red-primary: #ff6c6c;
  --yellow-primary: #ffd800;
  --yellow-secondary: #ffca28;
  --gray-primary: #e7e7e7;
  --brown-primaary: #999966;
  --black-primary: #000000;
  --white-primary: white;
}





body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-row {
  display: flex;
}
.flex-row-center {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.button {
  font-size: 22px;
  width: 170px;
  height: 50px;
  border: none;
  color: var(--black-primary);
  border-radius: 30px;
}
.accept-button {
  background-color: var(--yellow-primary);
}
.delete-button {
  background-color: var(--red-primary);
}

a.button {
  text-decoration: none;
  margin: 4px 2px;
  padding: 2px 6px 2px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.button:hover {
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

*:focus{
   outline: none;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody {
  width: 100%;
}

.table thead tr {
  /* display: block; */
  width: 100%;
}

.table th {
  background-color: var(--gray-primary);
  padding: 16px 8px;
  text-align: left;
  border: none;
}

.table td {
  padding: 8px;
  text-align: left;
}
.table tbody tr:hover {
  background-color: #999966;
  cursor: pointer;
}

.table-container {
  max-height: 50vh;
  overflow: auto;
}

input[type=text], input[type=password], input[type=email] {
  font-size: 16px;
}

.align-left-button-container {
  margin: 24px 0px;
}

.align-right-button-container {
  width: 100%;
  justify-content: flex-end;
  margin-top: 24px;
}
